unicorn-spring/src/main/resources/META-INF/unicorn-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns="http://www.rhine.org/schema/unicorn"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.rhine.org/schema/unicorn"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <xsd:element name="config">
        <xsd:complexType>
            <xsd:attribute name="applicationName" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The unique identifier for a application. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="elParseEngine" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[ evaluate el expression engine , support spring jexl ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="storeType" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[ store content of request and response engine type, support db redis file ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="serialization" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[ serialize or deserialize storage data, support proto ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="dataSource" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ dataSource ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>